@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.navbar {
  background-color: #0080ff;
  color:#FBFCF8;
  padding: 1rem;
  font-family: "PT Serif", serif;
  font-weight: 200;
  font-style: normal;
  
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;

}
.hamburger span {
  width: 25px;
  height: 3px;
  background:#FBFCF8;
  transition: 0.3s ;

}
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
.nav-links
 {
 
  list-style: none;
  display: flex;
  gap: 1.5rem;

 }
.nav-links li a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
  }

  .nav-links.active {
    display: flex;
  }
}
.home-page{
 height:100vh;
 width: 100%;
 background-image: url('/src/assests/Frankie-performing.jpeg'); 
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 animation: fadeIn 2s ease-in forwards;
  opacity: 0;

}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400..800&display=swap');

.home-page p {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #FBFCF8;

  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;

  opacity: 0;
  animation: fadeUp 2s ease-out forwards;
  animation-delay: 1s;
}

.home-page h2 {
  padding-top: 40px;
  padding-left: 80px;
  color: #FBFCF8;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;

  opacity: 0;
  animation: slideInLeft 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

  
  


